*{box-sizing: border-box;}
  
      .title-container {
    width: 90%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 175%;
    }
  
     .menu-title{
         width:40%;
         float:right;
         border: 2px solid black;
         text-align: center;
         font-size: 125%;
         float:right;
     }
  
     .menu{
         background-color: lightblue;
         margin:10px;
         border:2px solid black;
     }
  
     .text{
         margin:10px;
         margin-top:40px;
         clear:both;
     }
  
     .row {
      width: 800%;
      border: 5px;
      margin-right: auto;
      margin-left: auto;
      padding:5px;
     }
     #chicken{background-color: lightgoldenrodyellow; color:red}
     #beef{background-color: maroon; color:white;}
     #sushi{background-color: lightcoral; color:black}
     
  
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      background-color: antiquewhite;
      width: 33.33%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
      float: left;
      background-color: antiquewhite;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {.col-sm-12 {
      float: left;
      background-color: antiquewhite;
      width: 100%;}
  }